{% extends 'base.html.twig' %}
{% block title %} Zespół {% endblock %}
{% block body %}
    <h1 class="headline">Zespół</h1>

    <ul class="list-unstyled">
        <li class="mb-3">
            <div class="d-flex align-items-center">
                <div class="empty-avatar big-avatar">J</div>
                <div class="ml-2">
                    <div><strong>jking</strong></div>
                    <div>Technik serwera</div>
                    <div>Właściciel</div>
                </div>
            </div>
        </li>
        <li class="mb-3">
            <div class="d-flex align-items-center">
                <div class="empty-avatar big-avatar">U</div>
                <div class="ml-2">
                    <div><strong>uncle</strong></div>
                    <div>Inwestor, pomysłodawca projektu</div>
                    <div>Właściciel</div>
                </div>
            </div>
        </li>
        <li class="mb-3">
            <div class="d-flex align-items-center">
                <div class="empty-avatar big-avatar">4</div>
                <div class="ml-2">
                    <div><strong>4Getful</strong></div>
                    <div>Pomoc techniczna</div>
                    <div>Team Manager</div>
                </div>
            </div>
        </li>
        <li class="mb-3">
            <div class="d-flex align-items-center">
                <div class="empty-avatar big-avatar">C</div>
                <div class="ml-2">
                    <div><strong>Cezar</strong></div>
                    <div>Game Master</div>
                </div>
            </div>
        </li>
    </ul>

{% endblock %}