@use "abstracts";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem !important;
  font-family: 'Roboto', sans-serif;
}

a, a:hover {
  text-decoration: none;
  text-underline: none;
}

.no-radius {
  border-radius: unset !important;
}

.no-style-list {
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

p {
  font-family: 'Roboto', sans-serif !important;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.underline-title {
  max-width: 400px;
  min-height: 35px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 2.2rem;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

.left-nav-link {
  margin-bottom: 5px;
  font-size: 1.8rem;
  a {
    color: rgba(0,0,0,0.5);
  }

  a:hover {
    color: #000;
  }
}

.max-width-height {
  max-height: 100%;
  max-width: 100%;
}

.btn {
  font-size: 1.6rem;
}

.form-control {
  font-size: 1.4rem;
}

.btn-delete {
  color: abstracts.$light-red;

  &:hover {
    color: red;
  }
}

.short-input {
  width: 20%;
}

.half-input {
  width: 50%;
}

select {
  font-size: 1.6rem !important;
}

.alert {
  font-size: 1.6rem !important;
}