html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem !important;
  font-family: "Roboto", sans-serif;
}

a, a:hover {
  text-decoration: none;
  text-underline: none;
}

.no-radius {
  border-radius: unset !important;
}

.no-style-list {
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

p {
  font-family: "Roboto", sans-serif !important;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.underline-title {
  max-width: 400px;
  min-height: 35px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 2.2rem;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

.left-nav-link {
  margin-bottom: 5px;
  font-size: 1.8rem;
}
.left-nav-link a {
  color: rgba(0, 0, 0, 0.5);
}
.left-nav-link a:hover {
  color: #000;
}

.max-width-height {
  max-height: 100%;
  max-width: 100%;
}

.btn {
  font-size: 1.6rem;
}

.form-control {
  font-size: 1.4rem;
}

.btn-delete {
  color: #f94c56;
}
.btn-delete:hover {
  color: red;
}

.short-input {
  width: 20%;
}

.half-input {
  width: 50%;
}

select {
  font-size: 1.6rem !important;
}

.alert {
  font-size: 1.6rem !important;
}

.product {
  margin-bottom: 40px;
  max-width: 300px;
  line-height: 1.2;
}
.product__price-listing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-image {
  text-align: center;
  transition: transform 0.2s;
}
.product-image:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.product-image img {
  height: 400px;
  object-fit: cover;
}

.product-image-container {
  height: 350px;
  text-align: center;
}

.product-image-gallery {
  height: 60px;
  text-align: center;
}

.product-plus-count, .product-minus-count {
  width: 30px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
  line-height: 28px;
  cursor: pointer;
  user-select: none;
}

.product-count-input {
  height: 30px;
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.product-availability {
  font-size: 1.6rem;
}
.product-availability td {
  width: 50%;
}
.product-availability tr > td:first-child {
  font-weight: bold;
  padding-right: 10px;
}

.product-price {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4582EC;
}

.product-title {
  margin: 10px 0;
  height: 35px;
}

.product-price-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-basket i {
  font-size: 2rem;
}

.preview-images-zone {
  width: 100%;
  border: 1px solid #ddd;
  min-height: 180px;
  /* display: flex; */
  padding: 5px 5px 0px 5px;
  position: relative;
  overflow: auto;
}

.preview-images-zone > .preview-image:first-child {
  height: 185px;
  width: 185px;
  position: relative;
  margin-right: 5px;
}

.preview-images-zone > .preview-image {
  height: 90px;
  width: 90px;
  position: relative;
  margin-right: 5px;
  float: left;
  margin-bottom: 5px;
}

.preview-images-zone > .preview-image > .image-zone {
  width: 100%;
  height: 100%;
}

.preview-images-zone > .preview-image > .image-zone > img {
  width: 100%;
  height: 100%;
}

.preview-images-zone > .preview-image > .tools-edit-image {
  position: absolute;
  z-index: 100;
  color: #fff;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

.preview-images-zone > .preview-image > .image-cancel {
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  display: none;
  z-index: 100;
}

.preview-image:hover > .image-zone {
  cursor: move;
  opacity: 0.5;
}

.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
  display: block;
}

.ui-sortable-helper {
  width: 90px !important;
  height: 90px !important;
}

.cms-nav {
  height: 100%;
  width: 200px;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  position: fixed !important;
}
.cms-nav .cms-nav__item-active, .cms-nav .cms-nav__item {
  border-radius: unset;
  cursor: pointer;
  user-select: none;
  border-right: none !important;
  border-top: none !important;
  height: 45px;
  display: flex;
  align-items: center;
}
.cms-nav__link {
  width: 100%;
  height: 100%;
  padding: 0.75rem 1.25rem;
  color: #000;
}
.cms-nav__link > i {
  width: 30px;
  color: #4582EC;
}
.cms-nav__item-active {
  font-weight: 400;
}
.cms-nav__item-active a {
  color: #fff;
}
.cms-nav__item-active a > i {
  color: #fff;
}
.cms-nav__item-active::after {
  content: "";
  position: absolute;
  left: 100%;
  top: -1px;
  border-top: 24px solid transparent;
  border-bottom: 23px solid transparent;
  border-left: 20px solid #4582EC;
}
.cms-nav ul {
  font-size: 1.8rem;
  font-weight: 300;
}

.cms-header {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}
.cms-header__brand {
  padding: 0.75rem 1.25rem;
}

h1 {
  font-size: 2rem;
}

table, .table {
  font-size: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
