html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem !important;
  font-family: "Roboto", sans-serif;
}

a, a:hover {
  text-decoration: none;
  text-underline: none;
}

.no-radius {
  border-radius: unset !important;
}

.no-style-list {
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

p {
  font-family: "Roboto", sans-serif !important;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.underline-title {
  max-width: 400px;
  min-height: 35px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 2.2rem;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

.left-nav-link {
  margin-bottom: 5px;
  font-size: 1.8rem;
}
.left-nav-link a {
  color: rgba(0, 0, 0, 0.5);
}
.left-nav-link a:hover {
  color: #000;
}

.max-width-height {
  max-height: 100%;
  max-width: 100%;
}

.btn {
  font-size: 1.6rem;
}

.form-control {
  font-size: 1.4rem;
}

.btn-delete {
  color: #f94c56;
}
.btn-delete:hover {
  color: red;
}

.short-input {
  width: 20%;
}

.half-input {
  width: 50%;
}

select {
  font-size: 1.6rem !important;
}

.alert {
  font-size: 1.6rem !important;
}

.logo-basket-bar {
  min-height: 100px;
  justify-content: space-between;
}

.login-bar {
  background: #8c8c8c;
  min-height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #808080;
}
.login-bar a {
  color: #f5f5f5;
}

.header__product-search {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 40px;
}
.header__product-search:focus {
  border: none !important;
}
.header__basket {
  line-height: 1;
}
.header__basket i {
  font-size: 1.6rem;
  margin-right: 5px;
}

.navbar {
  font-size: 1.8rem;
}

footer {
  background: #8c8c8c;
  margin-top: 20px;
  color: #f5f5f5;
  font-size: 1.6rem;
}
footer a {
  color: #f5f5f5;
  display: block;
}

.li-head {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.product {
  margin-bottom: 40px;
  max-width: 300px;
  line-height: 1.2;
}
.product__price-listing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-image {
  text-align: center;
  transition: transform 0.2s;
}
.product-image:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.product-image img {
  height: 400px;
  object-fit: cover;
}

.product-image-container {
  height: 350px;
  text-align: center;
}

.product-image-gallery {
  height: 60px;
  text-align: center;
}

.product-plus-count, .product-minus-count {
  width: 30px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
  line-height: 28px;
  cursor: pointer;
  user-select: none;
}

.product-count-input {
  height: 30px;
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.product-availability {
  font-size: 1.6rem;
}
.product-availability td {
  width: 50%;
}
.product-availability tr > td:first-child {
  font-weight: bold;
  padding-right: 10px;
}

.product-price {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4582EC;
}

.product-title {
  margin: 10px 0;
  height: 35px;
}

.product-price-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-basket i {
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
