{% extends 'admin/base.html.twig' %}
{% block body %}
<a href="{{ path('app_admin_product') }}" class="btn btn-primary mb-3"><i class="fas fa-angle-double-left"></i> Powrót</a>
<h1>Dodawanie nowego produktu</h1>
<div class="row mt-3">
    <div class="col-6">
        {{ include('admin/product/_product_form.html.twig', { button_text: 'Dodaj produkt' }) }}
    </div>
</div>
{% endblock %}