<div class="col-10 col-md-6 col-lg-3 product">
    <div class="product-image">
        <img class="img-fluid" src="{{ asset('img/products/1.jpg') }}" alt="">
    </div>
    <div class="product-info">
        <p class="product-title">
            Bluza damska szara
        </p>
        <div class="product-price-basket">
            <p class="price m-0">
                <b>189.00 zł</b>
            </p>
            <span class="add-to-basket">
                <i class="fas fa-shopping-basket"></i>
            </span>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-3 product">
    <div class="product-image">
        <img class="img-fluid" src="{{ asset('img/products/2.jpg') }}" alt="">
    </div>
    <div class="product-info">
        <p class="product-title">
            Bluza damska czerwona
        </p>
        <div class="product-price-basket">
            <p class="price m-0">
                <b>189.00 zł</b>
            </p>
            <span class="add-to-basket">
                <i class="fas fa-shopping-basket"></i>
            </span>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-3 product">
    <div class="product-image">
        <img class="img-fluid" src="{{ asset('img/products/3.jpg') }}" alt="">
    </div>
    <div class="product-info">
        <p class="product-title">
            Bluza damska pomarańczowa z super długą nazwą produktu
        </p>
        <div class="product-price-basket">
            <p class="price m-0">
                <b>189.00 zł</b>
            </p>
            <span class="add-to-basket">
                <i class="fas fa-shopping-basket"></i>
            </span>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-3 product">
    <div class="product-image">
        <img class="img-fluid" src="{{ asset('img/products/4.jpg') }}" alt="">
    </div>
    <div class="product-info">
        <p class="product-title">
            Bluza damska różowa
        </p>
        <div class="product-price-basket">
            <p class="price m-0">
                <b>189.00 zł</b>
            </p>
            <span class="add-to-basket">
                <i class="fas fa-shopping-basket"></i>
            </span>
        </div>
    </div>
</div>