{% for product in products %}
    <div class="col-12 col-md-6 col-lg-3 product">
        <div class="product-image">
            <img class="img-fluid" src="{{ product.imagePath|imagine_filter('squared_thumbnail_small') }}"
                 alt="">
        </div>
        <div class="product-info">
            <p class="product-title">
                {{ product.title }}
            </p>
            <div class="product__price-listing">
                <p class="price m-0">
                    <b>{{ product.price }} zł</b>
                </p>
                <span class="add-to-basket">
                    <i class="fas fa-shopping-basket"></i>
                </span>
            </div>
        </div>
    </div>
{% endfor %}