<footer class="border">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 mt-2">
                <ul>
                    <li class="li-head">Twoja firma</li>
                    <li>ul. Kwiatowa 10</li>
                    <li>00-000 Warszawa</li>
                    <li>woj. mazowieckie</li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mt-2 d-flex justify-content-start justify-content-md-center ">
                <ul>
                    <li class="li-head">Płatność i dostawa</li>
                    <li><a href="">Formy płatności</a></li>
                    <li><a href="">Czast i koszty dostawy</a></li>
                    <li><a href="">Czas realizacji zamówienia</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mt-2">
                <ul class="float-left float-md-right">
                    <li class="li-head">Szybka nawigacja</li>
                    <li><a href="">Odzież damska</a></li>
                    <li> <a href="">Odzież męska</a></li>
                    <li> <a href="">Nowości</a></li>
                    <li> <a href="">Bestsellery</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mt-2">
                <ul class="float-left float-md-right">
                    <li class="li-head">Coś tam jeszcze</li>
                    <li><a href="">Item1</a></li>
                    <li><a href="">Item2</a></li>
                    <li><a href="">Item3</a></li>
                    <li><a href="">Item4</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                ShopLeader
            </div>
        </div>
    </div>
</footer>