<div class="col-3 left-menu">
    <h3 class="underline-title">Menu</h3>
    <ul>
        <li class="left-nav-link"><a href="#">Odzież damska</a></li>
        <li class="left-nav-link"><a href="#">Odzież męska</a></li>
        <li class="left-nav-link"><a href="#">Biżuteria</a></li>
        <li class="left-nav-link"><a href="#">Obuwie</a></li>
    </ul>
</div>